= form_for @timetable do |f|
  - if @timetable.errors.any?
    #error_explanation
      %h2= "#{pluralize(@timetable.errors.count, "error")} prohibited this timetable from being saved:"
      %ul
        - @timetable.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
