- content_for :css do
  = stylesheet_link_tag 'responses'

%p#notice= notice

.body
  = @response.body

.board__title
  = @response.board.title

= link_to 'Edit', edit_response_path(@response)
\|
= link_to 'Back', responses_path
